* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #BDC3C7;
    background: url('../image/fondo.jpg');
    background-repeat: no-repeat;

}

.miNombre {
    padding: 20px 0px 20px 0px;
    margin: 0 0 10px 0;
    text-align: center;
    background-color: rgba(44, 62, 80 , .5)  ;
}

.miNombre h1{
    color: white;
    font-family: -webkit-pictograph;
    font-size: 45px;
}

.contenedor {
    margin: 0px 170px 0px 295px;
}

.contenido {
    position: relative;
}

.columna1 {
    position: absolute;
    margin: 9px 64% 0 0;
    padding: 10px 17px 42px 45px;
    background-color: rgba(35, 155, 86, .9);
}

#perfil {
    border-radius: 100%;
    border: 1px solid #239B56;
    width: 200px;
    height: 200px;
}

.columna1 h2{
    margin: 10px 0 10px 0;
    font-family: -webkit-pictograph;
    color: white;
}

.columna1 ul li{
    margin-bottom: 10px;
    font-family: -webkit-pictograph;
}

.columna1 ul #git{
    list-style-image: url('../image/Github.png');
}

.columna1 ul #mail{
    list-style-image: url('../image/email.png');
}

.columna1 ul #num{
    list-style-image: url('../image/telefono.png');
}

.columna2 {
    position: absolute;
    background-color: rgba(170, 183, 184, .7);
    margin: 9px 60px 0px 36%;
    padding: 0px 20px 38px 20px;
    text-align: justify;
}

.subtitulo {
    border-bottom: 2px solid #239B56;
    margin-bottom: 20px;
}

.columna2 h2{
    margin-bottom: 20px;
    color: #239B56;
    font-family: -webkit-pictograph;
    margin-bottom: 0;
}


.columna2 p{
    margin-bottom: 15px;
    font-family: -webkit-pictograph;
}
